.colorText{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
}

.search-input {
    max-width: 500px;
    margin-left: 40%;
}

.search-btn {
    margin-left: 35%;
    width: 180px;
}